/* fonts */

@import url(https://fonts.googleapis.com/css?family=Lato:400,400italic,700,700italic,900,900italic,300italic,300,100italic,100);


@font-face {
    font-family: 'nerissemibold';
    src: url('../webfonts/Neris-SemiBold-webfont.eot');
    src: url('../webfonts/Neris-SemiBold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../webfonts/Neris-SemiBold-webfont.woff') format('woff'),
         url('../webfonts/Neris-SemiBold-webfont.ttf') format('truetype'),
         url('../webfonts/Neris-SemiBold-webfont.svg#nerissemibold') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'nerislight';
    src: url('../webfonts/Neris-Light-webfont.eot');
    src: url('../webfonts/Neris-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../webfonts/Neris-Light-webfont.woff') format('woff'),
         url('../webfonts/Neris-Light-webfont.ttf') format('truetype'),
         url('../webfonts/Neris-Light-webfont.svg#nerislight') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'nerisblack';
    src: url('../webfonts/Neris-Black-webfont.eot');
    src: url('../webfonts/Neris-Black-webfont.eot?#iefix') format('embedded-opentype'),
         url('../webfonts/Neris-Black-webfont.woff') format('woff'),
         url('../webfonts/Neris-Black-webfont.ttf') format('truetype'),
         url('../webfonts/Neris-Black-webfont.svg#nerisblack') format('svg');
    font-weight: normal;
    font-style: normal;

}






body {
  margin: 0;
    padding: 0;


    }

html {
  margin: 0;
    padding: 0;


    }



.landingpage {

    
background: -moz-linear-gradient(top,  rgba(0,0,0,1) 0%, rgba(125,185,232,0) 100%), url(../img/child.jpg); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(0,0,0,1) 0%,rgba(125,185,232,0) 100%), url(../img/child.jpg); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(0,0,0,1) 0%,rgba(125,185,232,0) 100%), url(../img/child.jpg); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#007db9e8',GradientType=0 ); /* IE6-9 */

    width: 100%;
    margin: 0; 
    padding: 0; 
    margin-top: 50px; 
    background-size:cover;  
    background-position: 40% 50%;
    background-repeat: no-repeat;
	}


/* header */

header {
    position: fixed; top: 0; left: 0; bottom:0; right: 0;
    width: 100%;
    height: 50px;
    z-index: 1;
    background: rgba(0, 0, 0,1);
}



.header-nav { 
    float: right;
    top: 0;
    }

.header-menu {
    width: 30px;
    margin-right: 15px;
    margin-top: 15px;



}



.header-ul { 
    padding: 0;
    margin: 0;
    text-align: right;


    }


.header-li a {
    text-decoration: none;
    list-style-type: none;
    font-family: 'nerissemibold';
    font-weight: 900; 
    color: #e8c52e; 

   }

.header-li  {
    list-style-type: none;
    text-align: left;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.9);
    }

.header-li {
    display: none;
}

.header-ul:hover .header-li{
    display: block;

}


.benefix-logo {
    width: 100px;
    margin-left: 15px;
    margin-top: 15px;

}


/* Font styling */

.landingpage-h1 {
    font-size: 1.6em;
    font-family: 'nerissemibold';
    color: white;
    text-align: center;
    margin: 0;
    padding: 30px 5% 20px; 

}

.landingpage-h2 {
    font-size: 0.8em;
    font-family: "lato";
    color: white;
    text-align: center;
    line-height: 20px; 
    margin: 0;
    padding: 0 7%; 
}


p {
  font-family: 'Lato', sans-serif;
  font-size: 1em;
  line-height: 1.5em;
  margin: 1em auto;
	padding: 0 5%;
	max-width: 720px;
}


/* Navigation Landingpage */


   
.landingpage-nav {
    padding: 10% ;  
}


.landingpage-ul {
    margin: 0;
    padding: 0;
}

.landingpage-li a {
    text-decoration: none;
    list-style-type: none;
    font-family: 'nerisblack';
    font-weight: 900;
    color: #e8c52e;
    padding: 0;
    border: 3px solid #e8c52e;
    padding: 5px 0;
    display: block;
}

.landingpage-li  {
    list-style-type: none;
    text-align: center;
    margin-bottom: 10px;
    padding: 5px; 
    font-family: 'nerissemibold';
}
.landingpage-li:last-child {
    margin-bottom: 0;
}


/* About us */

.about-us {
  	background-color: #fff;
  	padding: 0 0;
width: 100%;
    
}

.about-us h1,
.about-us h2 {
  	color: #000;
    text-align: center; 
    font-family: 'nerislight'; 
}

.about-us h1 {
  	font-weight: normal;
    background-color: #e8c52e;
    padding: 15px 0 15px;
    margin: 0;
    width: 100%;

}

.about-us h2 {
  	color: #000;
  	margin-top: 2em;
		font-family: 'nerislight', sans-serif;
		font-size: 1.2em;
}

.about-us ul {
		text-align: center;
		max-width: 720px;
		margin: 20px auto 0;
		padding: 0;
}



.about-us li {
		display: inline-block;
  	border: none;
  	padding: 35px 0 35px;
		margin: 0 0.5% 0;
  	text-align: center;
  	font-family: 'nerislight', sans-serif;
  	font-weight: bold;
  	color: #e8c52e;
  	font-size: 0.95em;
		width: 100px;
		height: 101px;
}

.about-us li:nth-child(1) {
	background: url("../img/icon_concept.png") no-repeat;
	margin-left: 0;
	background-size: 100%;

}

.about-us li:nth-child(2) {
	background: url("../img/icon_webdesign.png") no-repeat;
	background-size: 100%;

}

.about-us li:nth-child(3) {
	background: url("../img/icon_development.png") no-repeat;
	margin-right: 0;
	background-size: 100%;
}

/* Portfolio */

.portfolio h1 {
    margin: 0;
    padding: 15px 0;
    background-color: #d4145a;
    font-weight: normal;
    width: 100%;
    font-family: 'nerisligt',sans-serif;
    text-align: center;
}

.portfolio h2 {
    color: #000;
    margin-top: 2em;
    font-family: 'nerislight' sans-serif;
    font-size: 1.2em;
    text-align: center;
}

.portfolio {
    width: 100%;
}

.portfolio-gallery-ul {
    list-style-type: none;
    padding: 0;
    margin: 20px 10px 35px;
}

.portfolio-gallery-ul li {
    display: inline-block;
    position: relative;
    text-align: center;
    width: 100%;
    height: 190px;
    padding 0;
    margin: 35px 0;
    
}


.portfolio-gallery-ul li:nth-child(1) {
    background: url("../img/boy.gif") no-repeat;
    background-size: 100% 100%;
    padding: 0;
}

.portfolio-gallery-ul li:nth-child(2) {
    background: url("../img/children.gif") no-repeat;
    background-size: 100% 100%;
    padding:  0;
}

.portfolio-gallery-ul li:nth-child(3) {
    background: url("../img/girl.png") no-repeat;
    background-size: 100% 100%;
    padding:  0;
}

.portfolio-gallery-ul li a {
  display: block;
  position: absolute;
  bottom: -30px;
  left: 0;
  text-decoration: none;
  text-align: center;
  font-family: 'nerislight', sans-serif;
  font-weight: bold;
  color: #000;
  font-size: 1.2em;
  width: 100%;
}






/* Contact us */

.contact-us {
	background-color: #fff;
	padding: 0;
	width: 100%;
}

.contact-us h1 {
	margin: 0;
	padding: 15px 0;
	background-color: #00998a;
	font-weight: normal;
	width: 100%;
    font-family: 'nerislight', sans-serif; 
    text-align: center; 
}

.contact-us h2 {
	color: #000;
	font-family: 'nerislight', sans-serif;
	font-size: 1.2em;
	margin-top: 1em;
}


form {
  margin: 10px auto;
  padding: 10px 20px;

}

label {
display: block;
margin-bottom: 5px;
font-family: 'Lato', sans-serif;
font-size: 1em;
	text-align: left;

}


input[type="text"],
input[type="email"] {
	height: 30px;
}

textarea {
	height: 150px;
}

input[type="text"],
input[type="email"],
textarea {
	margin-bottom: 20px;
	width: 100%;
	background: rgba(0,153,138,0.3);
	border: none;
	font-family: 'Lato', sans-serif;
	font-size: 0.9em;
	padding: 2px;
	margin: 0;
	outline: 0;
	box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
	border-radius: 5px;
}

.form-hint {
	display: block;
    font-family: 'Lato', sans-serif;
	font-size: 0.8em;
	text-align: left;
	display: none;
}

button {
  padding: 5px 10px;
  color: #000;
  background-color: rgba(0,153,138,0.3);
	font-family: 'Lato', sans-serif;
  font-size: 0.9em;
	font-weight: bold;
  text-align: center;
  font-style: normal;
  border-radius: 5px;
  border: 1px solid #00998a;
  box-shadow: 0 -1px 0 rgba(255,255,255,0.3) inset;
	display: block;
}

.contact-us ul {
	list-style-type: none;
	padding: 0;
}

.contact-us li {
	border: none;
	padding: 0;
	margin: 10px auto;

}

.contact-details {
	margin: 10px auto;
  padding: 10px 20px;
}

.contact-details h2 {
	text-align: left;
}

.contact-details li {
	text-align: left;
	display: inline-block;
	padding: 0;
	margin: 0 auto;
}

.contact-details li a {
	color: #00998a;
	font-family: 'Lato', sans-serif;
	font-weight: normal;
	text-align: left;
	line-height: 2em;
	padding: 0 15px 0 0;
	margin: 5px 5px 5px 5px;
	font-size: 0.9em;
}

.social-contact {
	height: 1em;
	padding-right: 0.8em;
}




    /* Footer */



footer  {
    text-align: center;
    color: white;
    font-family: "lato";
    font-size: 0.8em;
    clear: both;
    background-color: rgba(0, 0, 0, 0.9);
    width: 100%;
    }


.footer-paragraph {
   margin: 0 auto;
    padding: 3px 0 10px ;

}


.social {
    height: 25px;
    padding: 15px 5px 0px 5px;
}




/* Media queries tablet size */

@media screen and (min-width: 768px)  {

    
.landingpage-nav  {
   padding: 5% 10% 10%; 
    }
                
    .landingpage-li  {
    margin: 30px; 
    }
    
    .landingpage-li a {
    
    border: 6px solid #e8c52e;
    padding: 10px 0;


}
    
    
h1 {
    font-size: 3.2em;
}

h2 {
    font-size: 1.7em;
    font-size: 3.2em;
}

h2 {
    font-size: 1.6em;

}

 
    
.landingpage-h1 {
        font-size: 3.2em; 
    padding: 50px 0 40px 0; 

}
    
    

.landingpage-h2 {
        font-size: 1.6em;
        line-height: 30px; 
        padding: 0 10%; 
}
    
    

    
.landingpage-li a  { 

        line-height: 30px;
        font-size: 1.7em;
    }

		p {
			width:80%;
		}

		.about-us li {
		  	padding: 80px 0 80px;
				margin: 10px 20px 0;
		  	text-align: center;
		  	font-size: 1.7em;
				width: 200px;
				height: 201px;
		}

		.about-us h2 {
		  	margin-top: 5em;
				margin-bottom: 1em;
		}

		.contact {
			max-width: 840px;
			margin: 0 auto;
		}

		.contact-form {
			display: inline-block;
			width: 50%;
			float: left;
			padding-left: 50px;
		}

		textarea {
			height: 200px;
		}

		.contact-details {
			display: inline-block;
			width: 33%;
			float: right;
		}

		.contact-us h2 {
			margin-bottom: 30px;
		}

		.contact-details li {
			padding-bottom: 10px;
			display: block;
		}


		.social-contact {
			height: 1.1em;
			padding-right: 1em;
		}

		.contact-form ul,
		.contact-details ul {
			display: block;
		}
    
    /* Portfolio */
    
    portfolio-gallery-ul li {
        width: 47.39%;
        height: 270px;
        margin-right: 17px;
    }

}


/* Media queries desktop size */


@media screen and (min-width: 992px)  {
    
    

.landingpage-ul {
    display: flex;
    display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
    display: -ms-flexbox;  /* TWEENER - IE 10 */
    display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
    display: flex;         /* NEW, Spec - Firefox, Chrome, Opera */


}

.landingpage-li  {
    flex: 1;               /* NEW, Spec - Firefox, Chrome, Opera */
    -webkit-box-flex: 1;   /* OLD - iOS 6-, Safari 3.1-6 */
    -webkit-flex: 1;       /* Safari 6.1+. iOS 7.1+, BB10 */
    -ms-flex: 1;           /* IE 10 */
    margin: 50px; 
    }
    
    .landingpage-li a {
    
    border: 6px solid #e8c52e;
    padding: 12px 0;
   
}


.landingpage-h1 {
  
    padding: 50px 5% 50px; 
}
    
	.about-us li {
			margin: 10px 20px 0;
	}
    
    

    
    .benefix-logo {
    margin-left: 25px; 
    margin-top: 20px; 
    width: 150px;
}
        
.header-menu { 
    width: 45px; 
    margin-right: 25px; 
    margin-top: 22px; }
    
    header {
    height: 80px;
    }
        
    .landingpage {
        margin-top: 80px; 
    }
    
      /* Portfolio */

    .portfolio-gallery-ul li {
      width: 32.5%;
      height: 310px;
      margin-right: 5px;
    }

    .portfolio-gallery-ul {
      margin-left: 10px;
      margin-right: 10px;
    } 
    
}

/* No greater than 767px, no less than 400px */

    @media (max-width:767px) and (min-width:400px) {


h1 {
        font-size:2.2em;
    }

h2 {
        font-size:1.2em;
    }

.landingpage-h1 {
        font-size:2.2em;
         }

.landingpage-h2 {

        font-size:1.2em;
        line-height: 25px;
    }



	.social-contact {
		height: 1.1em;
		padding-right: 1.1em;
	}

		.contact-details {
			padding-left: 10px;
		}

		.contact-form, .contact-details {
			max-width: 360px;
		}

		.contact-details li a {
			font-size: 0.9em;
		}

		button {
			font-size: 1em;
		}
        
  
    /* Portfolio */      
        
.portfolio-gallery-ul li {
      height: 310px;
    }
        
        



}
